.main {
    display: flex;
}

.App {
    max-width: 295px;
    margin: 10px auto;
    height: 50%;
    width: 100%;
    background: black;
    color: white;
    border-radius: 5%;
    padding: 12px;
    position: relative;
    overflow: hidden;
}
.App.modetwo {
    max-width: 470px;
}

.App.modetwo .mode {
    left: calc(50% - 160px);
}


.App.modethree .mode {
    left: calc(50% - 120px);
}

.top {
    margin-top: 15px;
    width: 100%;
    height: 35px;
    background-color: brown;
}

.display {
    font-size: 56px;
    margin-bottom: 5px;
    text-align: right;
    margin-top: -10px;
}

.App.modetwo .display{
    font-size: 54px;
}
.App.modethree .display{
    font-size: 55px;
}

.buttons {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin-left: 20px;
    font-size: 20px;
    margin-top: 45px;
}
.mode {
    position: absolute;
    text-align: center;
    top: 190px;
    margin-top: -55px;
}

.App.modetwo .buttons {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 23%);
    margin-left: 190px;
    font-size: 20px;
}

.button-engineer {
    display: grid;
    grid-template-columns: repeat(3, 21%);
    grid-gap: 23px;
    position: absolute;
    margin-top: 40px;
}

.mode button {
    margin-left: 7px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 4px;
    color: #555555;
}

.mode button:hover{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.App.modetwo .mode button {
    font-size: 17px;
}

.App.modethree {
    max-width: 370px;
}

.App.modethree .buttons {
    margin-left: 77px;
    grid-template-rows: repeat(5, 19%);
}

.button-programmer {
    display: grid;
    grid-template-columns: repeat(1, 50%);
    grid-gap: 20px;
    position: absolute;
    margin-top: 45px;
}


@media (max-width:440px) {
    .button-engineer {
        grid-template-columns:repeat(3, 16%);
    }
    .App.modetwo .buttons{
        margin-left: 163px;
        grid-template-columns:repeat(4, 22%);
    }
    .App.modetwo .mode button{
        font-size: 14px;
    }
}

@media (max-width:415px) {
    .App.modetwo .Button{
        width: 40px;
        height: 40px;
    }
    .App.modetwo .buttons{
        margin-left: 155px;
        grid-template-rows: repeat(3, 20%);
    }
}

@media (max-width:360px) {
    .App.modetwo .buttons{
        margin-left: 132px;
        grid-template-rows: repeat(3, 20%);
    }
    .button-engineer {
        grid-template-columns: repeat(3, 12%);
    }
}